---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Frontend Mentor | Rock, Paper, Scissors">
	<main>
		Score
		Rules
	
		You Picked
		The House Picked
	
		You Win
		You Lose
	
		Play Again
	</main>
	<div>
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="https://www.wiar8.com">Wiar8</a>.
  </div>
</Layout>


